.carrito-count{
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: 700; 
    padding: 0.15rem;
    color: white;
    text-decoration: none;
    border-radius: 9rem;
    background-color: black;
    position: relative;
    bottom: 10px;
    left: 15px;

    @media (max-width: 48rem) {
        font-size: 1.1rem;
        border-radius: 1rem;
        position: relative;
        left: 10px;
        bottom: 9px;
    }

 
}