.section-cards {
    border-radius: 0.3125rem;
    overflow: visible;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.20);
    object-fit: contain;

    &__header {
        margin-bottom: 9.375rem;
        margin-right: 1.875rem;
        margin-left: 1.875rem;
        padding: 6.25rem;
        position: relative;
        border-radius: 0.3125rem;
        overflow: hidden;
        box-shadow: 0.3125rem 0 1.875rem 0.0625rem rgba(0, 0, 0, 0.20);
        background-color: rgb(246, 253, 253);

    
        @media only screen and (max-width: 768px) {
            display: none; 
        }
    }
}

.section-cards {
    background-color: #f1f2f3;
    padding: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.card__image-container {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
    padding: 1.875rem 0 2.5rem 0;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: all 0.9s;
    background-color: white;
    

    &:hover {
        box-shadow: 0 1px 40px 10px rgb(170, 54, 54);
        transform: scale(1.2);
    }
}

.card__image {
    width: 100%;
    height: auto;
    height: 18.75rem;
    object-fit: contain;
    border-radius: 0.625rem 0.625rem 0 0;

    @media screen and (min-width: 768px) {
  .imagen {
    width: 5%;
  }
}
}
.card__content {
    background-color: red;
    color: white;
    margin: 1.875rem;
     @media screen and (min-width: 768px) {
  .imagen {
    width: 5%;
  }
}
}