.foralta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
      text-align: center;
      margin-bottom: 20px;
  }
  
  div {
      display: flex;
      flex-direction: column;
      background-color: rgb(243, 243, 243);
  }

  label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
  }

  input[type="text"] {
      padding: 10px;
      border: 1px solid black;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;
      background-color: white;

      &:focus {
          border-color: #4CAF50;
      }
  }

  input[type="checkbox"] {
      width: auto;
      transform: scale(2.2);
      margin-right: 528px;
      margin-top: 18px;

      @media (max-width: 768px) {
          transform: scale(1.5);
          margin-right: 0;
      }

      @media (max-width: 480px) {
          transform: scale(1.2);
          margin-right: 0;
      }
  }

  button {
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      transition: background-color 0.3s;

      &:first-of-type {
          background-color: red;
          color: white;

          &:hover {
              background-color: grey;
          }
      }

      &:last-of-type {
          background-color: black;
          color: white;

          &:hover {
              background-color: gray;
          }
      }
  }

  @media (max-width: 768px) {
      max-width: 90%;
      padding: 15px;
      gap: 15px;

      h3 {
          font-size: 1.5rem;
      }

      input[type="text"] {
          font-size: 14px;
          padding: 8px;
      }

      button {
          font-size: 14px;
          padding: 8px 12px;
      }
  }

  @media (max-width: 480px) {
      max-width: 100%;
      padding: 10px;
      gap: 10px;

      h3 {
          font-size: 0.5rem;
      }

      input[type="text"] {
          font-size: 0.5rem;
          padding: 6px;
      }

      button {
          font-size: 12px;
          padding: 6px 10px;
      }
  }
}