table.tabla-carrito {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;
    

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
}