.nav-bar {
    background-color: #333;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__nav-list {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
    }
  
    &__nav-item {
      margin-right: 1rem;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    &__nav-link {
      color: white;
      text-decoration: none;
      font-size: 3rem;
      padding: 0.25rem 0.5rem;
      transition: color 0.3s;
  
      &.active {
        font-weight: bold;
      }
  
      &:hover {
        color: #ccc;
      }
    }
  }
  
  
  @media (max-width: 29.6875rem) {
    .nav-bar {
      flex-direction: column;
      align-items: flex-start;
      padding: 0.25rem;
  
      &__nav-list {
        flex-direction: column;
        width: 100%;
      }
  
      &__nav-item {
        margin-right: 0;
        width: 100%; 
  
        &__nav-link {
            color: white;
            text-decoration: none;
            font-size: 0.75rem;
            padding: 0.25rem 0.5rem;
            transition: color 0.3s;
          
            
          }
          
      }
    }
  }