.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;

  &__logo-container {
    img {
      width: 12.5rem;
      height: 4.375rem;
    }
  }

  &__form-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 0.625rem;

    label {
      display: none;
    }

    input[type="search"] {
      padding: 0.3125rem;
      font-size: 1rem;
      border-radius: 0.3125rem;
      border: 1px solid #ccc;
      width: 100%;
    }

    input[type="submit"] {
      padding: 0.3125rem 0.625rem;
      margin-left: 0.3125rem;
      font-size: 1rem;
      border: none;
      border-radius: 0.3125rem;
      background-color: #333;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #555;
      }
    }
  }

  &__carrito-container {
    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .menu-toggle {
    display: none;

    &__label {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 1.5rem;
      width: 1.875rem;

      span {
        display: block;
        height: 0.1875rem;
        width: 100%;
        background-color: #333;
      }
    }
  }
}

@media (max-width: 35.24rem) {
  .search-bar {
    position: relative;

    &__logo-container {
      img {
        position: relative;
        top: 0.875rem;
        left: 0.4375rem;
        width: 2.1875rem;
        height: 2.5rem;
      }
    }

    &__form-container {
      margin: 0.625rem 0;

      input[type="search"] {
        width: 6.875rem;
        font-size: 0.875rem;
      }

      input[type="submit"] {
        width: 2.1875rem;
        font-size: 0.4375rem;
        text-align: center;
      }
    }

    &__carrito-container {
      img {
        position: relative;
        top: 0.875rem;
        right: 1.0625rem;
        width: 2.1875rem;
        height: 1.875rem;
      }
    }

    .menu-toggle {
      display: block;
      position: relative;
      width: 2.5rem;
      height: 2rem;
      cursor: pointer;

      &__label {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0.25rem;
        background-color: #333;
        transition: all 0.3s ease;
        border-radius: 5px;
      }

      &__top-bread,
      &__meat,
      &__bottom-bread {
        position: absolute;
        width: 100%;
        height: 0.25rem;
        background-color: #333;
        border-radius: 5px;
        transition: all 0.3s ease;
      }

      &__top-bread {
        top: 0.3rem;
      }

      &__meat {
        top: 50%;
        transform: translateY(-50%);
      }

      &__bottom-bread {
        bottom: 0.3rem;
      }

      &.active {
        &__top-bread {
          transform: rotate(45deg) translateY(0.5rem);
        }

        &__meat {
          opacity: 0;
        }

        &__bottom-bread {
          transform: rotate(-45deg) translateY(-0.5rem);
        }
      }
    }

    .nav-bar {
      display: none;

      &__nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      &__nav-item {
        margin: 0.5rem 0;
      }

      &__nav-link {
        color: white;
        text-decoration: none;
        font-size: 0.875rem;
        padding: 0.75rem 1rem;
        transition: color 0.3s;

        &:hover {
          color: #ccc;
        }
      }

      &__nav-link active {
        font-size: 0.2rem;
      }
    }

    #menu:checked + .nav-bar {
      display: block;
    }
  }
}

@media (min-width: 35.25rem) and (max-width: 48rem) {
  .search-bar {
    position: relative;

    &__logo-container {
      img {
        position: relative;
        top: 0.875rem;
        left: 0.4375rem;
        width: 6.25rem;
        height: 3.75rem;
      }
    }

    &__form-container {
      margin: 0.625rem 0;

      input[type="search"] {
        width: 12.5rem;
        font-size: 1rem;
      }

      input[type="submit"] {
        width: 3.125rem;
        font-size: 0.75rem;
        text-align: center;
      }
    }

    &__carrito-container {
      img {
        position: relative;
        top: 0.875rem;
        right: 1.0625rem;
        width: 3.125rem;
        height: 2.5rem;
      }
    }

    .menu-toggle {
      display: block;
      position: relative;
      right: 1.1875rem;
    }
  }
}
